<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

{{>header}}
{{>navbar}}
<h3 class="text-center text-primary my-3">
    {{title}}
</h3>
<div class="container">
    <form action="addCust">
        <div class="mb-3">
            <input name="name" placeholder="Customer name" class="form-control">
        </div>
        <div class="mb-3">
            <input name="init" placeholder="Customer Balance" class="form-control">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add custmer</button>
        </div>
    </form>
</div>
{{>footer}}
</body>
</html>